In [4]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 200

In [5]:
df = pd.read_csv('2016-2017_Graduation_Outcomes_School.csv')

In [6]:
df.head()

,DBN,School Name,Demographic Category,Demographic Variable,Cohort Year,Cohort,Total Cohort #,Total Grads #,Total Grads % of cohort,Total Regents #,Total Regents % of cohort,Total Regents % of grads,Advanced Regents #,Advanced Regents % of cohort,Advanced Regents % of grads,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort,SACC (IEP Diploma) #,SACC (IEP Diploma) % of cohort,TASC (GED) #,TASC (GED) % of cohort
0,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,013",4 year August,36,25,69.4,23,63.9,92.0,0,0.0,0.0,23.0,63.9,92.0,2.0,5.6,8.0,3.0,8.3,7.0,19.4,NaN,NaN,NaN,NaN
1,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,012",4 year August,44,24,54.5,20,45.5,83.3,1,2.3,4.2,19.0,43.2,79.2,4.0,9.1,16.7,10.0,22.7,10.0,22.7,NaN,NaN,NaN,NaN
2,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,011",4 year August,73,46,63.0,41,56.2,89.1,0,0.0,0.0,41.0,56.2,89.1,5.0,6.8,10.9,18.0,24.7,7.0,9.6,NaN,NaN,NaN,NaN
3,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,010",4 year August,61,26,42.6,26,42.6,100.0,1,1.6,3.8,25.0,41.0,96.2,0.0,0.0,0.0,18.0,29.5,17.0,27.9,NaN,NaN,NaN,NaN
4,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,009",4 year August,85,49,57.6,44,51.8,89.8,0,0.0,0.0,44.0,51.8,89.8,5.0,5.9,10.2,28.0,32.9,8.0,9.4,NaN,NaN,NaN,NaN

In [8]:
len(df.columns)

29

In [13]:
df[df.DBN=='01M292'[df['Cohort Year'] == '2,013'][df.Cohort=='4 year June'][df['Demographic Category']=='All Students']

/Users/markbrennan/anaconda3/envs/learn-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,DBN,School Name,Demographic Category,Demographic Variable,Cohort Year,Cohort,Total Cohort #,Total Grads #,Total Grads % of cohort,Total Regents #,Total Regents % of cohort,Total Regents % of grads,Advanced Regents #,Advanced Regents % of cohort,Advanced Regents % of grads,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort,SACC (IEP Diploma) #,SACC (IEP Diploma) % of cohort,TASC (GED) #,TASC (GED) % of cohort
9,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,013",4 year June,36,24,66.7,23,63.9,95.8,0,0.0,0.0,23.0,63.9,95.8,1.0,2.8,4.2,4.0,11.1,7.0,19.4,NaN,NaN,NaN,NaN

In [19]:
df1 = df[df['Cohort Year'] == '2,012'][df.Cohort=='4 year June'][df['Demographic Category']=='All Students']

/Users/markbrennan/anaconda3/envs/learn-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [22]:
df1['ID'] = df1.DBN + '_' + '2012'

In [21]:
df1.DBN + '_' + '2012'

10       01M292_2012
57       01M448_2012
109      01M450_2012
159      01M458_2012
196      01M509_2012
            ...
21428    32K549_2012
21477    32K552_2012
21531    32K554_2012
21578    32K556_2012
21627    32K564_2012
Name: DBN, Length: 474, dtype: object

In [23]:
df1.head()

,DBN,School Name,Demographic Category,Demographic Variable,Cohort Year,Cohort,Total Cohort #,Total Grads #,Total Grads % of cohort,Total Regents #,Total Regents % of cohort,Total Regents % of grads,Advanced Regents #,Advanced Regents % of cohort,Advanced Regents % of grads,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort,SACC (IEP Diploma) #,SACC (IEP Diploma) % of cohort,TASC (GED) #,TASC (GED) % of cohort,ID
10,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,"2,012",4 year June,44,23,52.3,19,43.2,82.6,1,2.3,4.3,18.0,40.9,78.3,4.0,9.1,17.4,11.0,25.0,10.0,22.7,NaN,NaN,NaN,NaN,01M292_2012
57,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,All Students,All Students,"2,012",4 year June,66,50,75.8,46,69.7,92.0,11,16.7,22.0,35.0,53.0,70.0,4.0,6.1,8.0,2.0,3.0,14.0,21.2,NaN,NaN,NaN,NaN,01M448_2012
109,01M450,EAST SIDE COMMUNITY SCHOOL,All Students,All Students,"2,012",4 year June,90,72,80.0,71,78.9,98.6,0,0.0,0.0,71.0,78.9,98.6,1.0,1.1,1.4,13.0,14.4,4.0,4.4,NaN,NaN,NaN,NaN,01M450_2012
159,01M458,FORSYTH SATELLITE ACADEMY,All Students,All Students,"2,012",4 year June,82,12,14.6,12,14.6,100.0,0,0.0,0.0,12.0,14.6,100.0,0.0,0.0,0.0,60.0,73.2,9.0,11.0,NaN,NaN,NaN,NaN,01M458_2012
196,01M509,MARTA VALLE HIGH SCHOOL,All Students,All Students,"2,012",4 year June,74,43,58.1,42,56.8,97.7,8,10.8,18.6,34.0,45.9,79.1,1.0,1.4,2.3,16.0,21.6,8.0,10.8,NaN,NaN,NaN,NaN,01M509_2012